* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
body {
    background-image: url('../pics/background.jpg');
    background-size: cover;
}

#key-bar {
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.key-button {
    font-size: .75rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 8em;
    height: 8em;
    margin: 2em;
    color: #fff;
    background-color: #000000aa;
    border: 2px solid #fff;
    border-radius: 15px;
    text-transform: uppercase;
    transition: all .07s;
}

.key {
    font-size: 2rem;
}

.element {
    color: orangered;
}

.play {
    transform: scale(1.1);
    border-color: yellow;
}